<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="h-100">

{%- include head.html -%}

<body class="h-100">

<div id="page-container" class="container-fluid pr-0 pl-0 h-100 d-flex flex-column">

{%- include header.html -%}

    <main role="main" class="container-fluid">
{{ content }}
    </main>

{%- include footer.html -%}

<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

{% for script in page.scripts %}
    <script src="/assets/scripts/{{ script }}"></script>
{% endfor %}

</div>
</body>
</html>
