--- layout: default ---

<div class="row">
    <div class="d-none d-md-block col-md-3 navtree-column">
        <div class="navtree">
            {% navtree %}
        </div>
    </div>
    <div class="col-md-9 col-sm-12">
        <nav aria-label="breadcrumb">{% breadcrumbs %}</nav>

        {% if page.logo-title %}
        <div class="logo-title"><img src="{{page.logo-title}}" alt="{{ page.title }}" /></div>{% else %}
        <h1>{{ page.title }}</h1>{% endif %} {% if page.author %}<address class="author" rel="author">{{ page.author }}</address>{% endif %} {% if page.lastModificationDate %}
        <div class="page-meta">Last modified {{ page.lastModificationDate | date: "%d %b %Y %H:%M %Z" }}</div>{% endif %} {% include page-warnings.html %} {% if page.toc %}
        <div class="toc-{{page.toc}}">
            <title>Table of Contents</title>
            {{ page.document | tocify_asciidoc }}
        </div>
        {% endif %} {{ content }}
    </div>
</div>
<div class="pageEval" style="text-align: center;">
    Was this page helpful?
    <div class="thumbs">
        <span class="yes thumb">
      <i class="fas fa-thumbs-up"></i>
        YES
  </span>
        <span class="no thumb">
      <i class="fas fa-thumbs-down"></i>
       NO
  </span>
    </div>
    <div class="thanksFeedback">
        Thanks for your feedback
    </div>
</div>