---
layout: default
---

<div class="row">
    <div class="d-none d-md-block col-md-3 navtree-column navtree-fixed">
        <div class="navtree">
            {% navtree %}
        </div>
    </div>
    <div class="col-md-9 col-sm-12 ml-auto">
        <nav aria-label="breadcrumb">{% breadcrumbs %}</nav>

        {% if page.logo-title %}
        <div id="titleAndSelectVerDiv"><span class="logo-title"><img src="{{page.logo-title}}" alt="{{ page.title }}" /></span>{% if site.environment.name contains "docs" %}<span id="select-version">
            <select class="selectpicker" id="select-version-picker" data-style="versioningButton btn-light">
                <option data-tokens="master">Development</option>
                {% assign versions = site.data.midpoint-versions | reverse %}
                {% for v in versions %}
                    {% if v.docsDisplayBranch != null %}
                        <option data-tokens="{{ v.docsBranch }}">{{ v.docsDisplayBranch}}</option>
                    {% endif %}
                {% endfor %}
                <option data-tokens="before-4.8" >4.7 and earlier</option>
            </select>
        </span>{% endif %}</div>{% else %}
        <div id="titleAndSelectVerDiv"><span><h1>{% if page.name contains ".adoc" %} {{ page.title}} {% else %} {{ page.title | escape }} {% endif %}</h1></span>{% if site.environment.name contains "docs" %}<span id="select-version">
            <select class="selectpicker" id="select-version-picker" data-style="versioningButton btn-light">
                <option data-tokens="master">Development</option>
                {% assign versions = site.data.midpoint-versions | reverse %}
                {% for v in versions %}
                    {% if v.docsDisplayBranch != null %}
                        <option data-tokens="{{ v.docsBranch }}">{{ v.docsDisplayBranch}}</option>
                    {% endif %}
                {% endfor %}
                <option data-tokens="before-4.8" >4.7 and earlier</option>
            </select>
        </span>{% endif %}</div>{% endif %}
        {% if page.author %}<address class="author" rel="author">{{ page.author }}</address>{% endif %} {% if page.lastModificationDate %}
        <div class="page-meta">Last modified {{ page.lastModificationDate | date: "%d %b %Y %H:%M %Z" }}</div>{% endif %} {% include page-warnings.html %} {% if page.toc %}
        <div class="toc-{{page.toc}}">
            <title>Table of Contents</title>
            {{ page.document | tocify_asciidoc }}
        </div>
        {% endif %}
        {{ content }}
        {% include page-ending.html %}
        {% include page-eval.html %}
    </div>
</div>
