RewriteRule   "^midpoint/reference(?!/master)(?!/before-.*)(?![0-9]\..*)(?!/support-.*)(/|$)(.*)" "/midpoint/reference/master/$2" [R]
{% for redirect in page.redirects %}
RewriteRule   "{{ redirect.pattern }}" "{{ redirect.substitution }}" [R]
{% endfor %}
