nav {
    border-bottom: 1px solid rgba($light, 0.2);
}

.navbar-brand {
    font-size: 1.75rem;
}

.logo-footer {
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    background-size: cover;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(150%);
}

.page-footer {
    margin-top: 2rem;

    .footer-heading {
        font-size: x-large;
        margin-bottom: 1rem;
    }

    .footer-description {
        color: rgba($white, 0.7);
    }

    .footer-list {

    }

    a {
        color: rgba($white, 0.7);
    }

    .social {
        margin-right: 0.5rem;
    }

    .copyright {
        padding-top: 1.5rem;
        border-top: 1px solid rgba($white, 0.1) !important;
    }
}