<footer class="page-footer col-md-9 col-sm-12 pt-2 pb-2 d-flex mt-auto text-center">
  <div class="container-fluid text-center text-md-left">
    <div class="row footer-body">
      <div class="col-md-4">
        <div class="row justify-content-start">
          <div class="col">
            <object type="image/svg+xml" data="/assets/images/evolveum-logo.svg" class="footer-logo"></object>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col footer-description">
            {{ site.description | default: "Site description placeholder"}}
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-heading">{{ site.shortname | default: "Site" }}</div>
        <ul class="list-unstyled footer-list">
          <li><a href="/sitemap/">Sitemap</a></li>
          <li><a href="/about/">About the site</a></li>
          <li><a href="/copyright/">Copyright</a></li>
        </ul>
      </div>
      {%- include footer-columns.html -%}
    </div>
    <div class="row copyright">
      <div class="col m-0 text-center">
        <a href="https://{{ site.environment.docsUrl }}/copyright/">Copyright &copy; 2011-{{ site.time | date: '%Y' }} Evolveum s.r.o., CC BY-NC-ND</a>
      </div>
    </div>
  </div>
</footer>
