<nav class="navbar navbar-light bg-transparent navbar-expand-md mb-4">
  <a class="navbar-brand" href="/">{{ site.title | default: "Evolveum"}}</a>
  <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbar-list" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-list">
    <ul class="navbar-nav ml-auto mr-5">
      {% for nav in site.data.navbar %}
      <li class="nav-item">
        <a class="nav-link" href="{{ nav.url }}">{{ nav.label | escape }}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <form class="form-inline mt-2 mt-md-0 navbar-search" method="get" id="search-ddg" action="https://duckduckgo.com/">
              <input type="hidden" name="sites" value="docs.evolveum.com">
              <input class="form-control form-control-sm mr-sm-2" id="searchbar" onkeyup="searchForPhrase()" type="text"
                     placeholder="Search" name="q" aria-label="Search" >
              {% if site['evolveum']['search-ddg-disable'] != true %}
              <button class="btn btn-outline-secondary btn-sm my-2 my-sm-0" type="submit">Search on DuckDuckGo</button>
              {% endif %}
            </form>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="list-group" id="autocombox">
              <!-- here list are inserted from javascript -->
            </div>
          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>

    <form class="form-inline mt-2 mt-md-0 navbar-search" method="get" id="search" action="https://duckduckgo.com/">
      <input type="hidden" name="sites" value="{{ site.fqdn }}"/>
      <input class="form-control form-control-sm mr-sm-2" id="searchToggle" type="text" name="q" placeholder="Search" aria-label="Search"
             data-toggle="modal" data-target="#search-modal">
    </form>
  </div>
</nav>
