@media (max-width:500px) {
    .oval {
        border: 1px solid;
        margin: 1%;
        padding: 3px 3.5px 2.5px 3.5px;
        font-size: 0.63rem;
        font-weight: bold;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        transition: all .1s linear, color 0s;
        -webkit-transition: all .1s linear, color 0s;
        -moz-transition: all .1s linear, color 0s;
        -o-transition: all .1s linear, color 0s;
        max-width: 200px;
        cursor: default;
    }
}

.LMDLcategory {
    font-size: 0.856rem;
    font-weight: bold;
    text-align: center;
    text-rendering: geometricprecision;
}

.LMDLcategoryGuide {
    color: #020929;
}

.LMDLcategoryReference {
    color: #071145;
}

.LMDLcategoryDeveloper {
    color: #273376;
}

.LMDLcategoryOther {
    color: #3F4B8C;
}

.LMDLimpactMajor {
    color: #74481a;
}

.LMDLimpactSignificant {
    color: #AC6D29;
}

.LMDLimpactMinor {
    color: #CC8F4C;
}

.LMDLimpact {
    font-size: 0.856rem;
    font-weight: bold;
    text-align: center;
    text-rendering: geometricprecision;
}

.btnLMDLsearch {
    color: #000;
    border-color: #000;
}

.btnLMDLsearch:hover {
    color: #212529;
    background-color: #A3CCDC;
    border-color: #A3CCDC;
}

.LMDLDatePickerButton {
    border-color: #6f6f6f;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 6px;
    color: #909090;
}

#LMDLPickedDate {
    color: #999;
}

.LMDLDatePickerIcon {
    margin-right: 10px;
    color: #303030;
}

.LMDLfilters {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.LMDLupkeepunknown {
    display: none !important;
}

.LMDLtypefilters {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.LMDLfiltersearch {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.LMDLtitleGithubLink {
    color: gray;
    font-size: 0.7rem;
    white-space: nowrap;
}

.LMDLupkeepunknown {
    display: none;
}

@media (max-width:500px) {
    #LMDLtitleHeader {
        width: 37.5% !important;
        font-size: 0.85rem;
    }
    #LMDLcategoryHeader {
        width: 0% !important;
        display: none !important;
    }
    #LMDLimpactHeader {
        width: 0% !important;
        display: none !important;
    }
    #LMDLauthorHeader {
        width: 0% !important;
        display: none !important;
    }
    #LMDLdateHeader {
        width: 25% !important;
        font-size: 0.85rem;
    }
    #LMDLmessageHeader {
        width: 37.5% !important;
        font-size: 0.85rem;
    }
    .LMDLtitle {
        font-size: 0.75rem;
        padding-bottom: 5px !important;
    }
    .LMDLcategory {
        display: none !important;
    }
    .LMDLimpact {
        display: none !important;
    }
    .LMDLauthor {
        display: none !important;
    }
    .LMDLdate {
        font-size: 0.75rem;
        padding-bottom: 5px !important;
    }
    .LMDLmessage {
        font-size: 0.75rem;
        padding-bottom: 5px !important;
    }
    #LMDLcategoryPicker {
        display: none;
    }
    #LMDLimpactPicker {
        display: none;
        /*maybe needed to be important*/
    }
    #LMDLauthorPicker {
        display: none;
    }
    .LMDLfiltersearch {
        display: none;
        justify-content: center;
    }
    .LMDLfilters {
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .LMDLtypefilters {
        justify-content: center;
    }
    #LMDLmoreFiltersButton {
        height: 100%;
        display: flex !important;
        /*align-items: center; Maybe needed?*/
    }
    .LMDLmoreSmallDetails {
        display: table-row !important;
    }
    .LMDLmoreSmallDetailsTd {
        border: none !important;
        font-size: 0.68rem;
        padding: 2px !important;
    }
    .LMDLmoreSmallDetailsI {
        color: #555753;
    }
    .LMDLexpandedCategoryCell {
        display: table-cell !important;
    }
    .LMDLexpandedImpactCell {
        display: table-cell !important;
    }
    .LMDLexpandedAuthorCell {
        display: table-cell !important;
    }
    .LMDLsearchform {
        gap: 10px;
    }
}

#LMDLmoreFiltersButton {
    display: none;
}

.LMDLexpandedDetail {
    font-size: 0.75rem;
    border: none !important;
}

.LMDLexpandedDetailRow {
    display: none;
}

.LMDLexpandedHeader {
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    border: none !important;
    text-rendering: geometricprecision;
}

.LMDLexpandedHeaderRow {
    display: none;
}

.LMDLmoreSmallDetails {
    display: none;
}

#LMDmoreFiltersButton.on {
    width: 100%;
    justify-content: center;
}